<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
  
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
     
      <div class="navbar-collapse-header d-md-none ">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    
      <div class="d-flex col-6 collapse-brand">
        <a  routerLinkActive="active" [routerLink]="['/dashboard']">
          <img src="./assets/img/icons/common/thermo.svg">
        </a>
     
      <h1 class="text-danger mb-5">GESTION
TEMPERATURE 
ET HUMIDITE</h1> </div>
      
      <div class="dropdown-divider mb-5"></div>
      <a routerLinkActive="active"  class="dropdown-item">
        <img src="./assets/img/icons/common/tab.svg">
        <span>Tableau de bord</span>
      </a>
      <a routerLinkActive="active"  class="dropdown-item mt-3">
        <img src="./assets/img/icons/common/historique.svg">
        <span>Historique</span>
      </a>
      <a routerLinkActive="active"  class="dropdown-item mt-3">
        <img src="./assets/img/icons/common/activer.svg">
        <span>liste actives </span>
      </a>
      <a routerLinkActive="active"  class="dropdown-item mt-3">
        <img src="./assets/img/icons/common/arch.svg">
        <span>liste archivés</span>
      </a>
    
     <!--  <a href="#!" class="dropdown-item mt-3"> --><a class="dropdown-item mt-3" routerLinkActive="active" [routerLink]="['/register']"><!-- </a> -->
        <img src="./assets/img/icons/common/ajouter.svg">
        <span> Ajouter utilisateur</span>
      </a>
    </div>
  </div>
</nav>
