<div class="header bg-gradient-danger py-7 py-lg-8">

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <strong>Inscription</strong>
          </div>
          <form role="form" [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Prénom" type="text" [ngClass]="{'is-invalid':submitted && signupForm.controls['nom'].errors}" formControlName="nom"
                type="text" class="form-control" autocomplete="on">
                <div *ngIf="submitted && signupForm.controls['nom'].errors" class="text-danger">
                  <div *ngIf="submitted && signupForm.controls['nom'].errors['required']">
                      Le nom est obligatoire!
                  </div>
                  <div *ngIf="submitted && signupForm.controls['nom'].errors['cannotContainSpace']">
                      Espace non autorisé
                  </div>
              </div>
              </div>
            </div>

            <div class="form-group">
              <label for="nom">Nom</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Nom" type="text">
              </div>
            </div>


            <div class="form-group">
              <label for="role">Role</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <select class="form-control" >
                    <option  selected disabled>choisir</option>
                    <option>Administrateur</option>
                    <option>Utilisateur</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="email">email</label>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>

            <div class="form-group">
              <label for="mdp">mot de passe</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="mot de passe" type="password">
              </div>
            </div>

            <div class="form-group">
              <label for="mdp_c">confirmer le mot de passe</label>
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="mot de passe à nouveau" type="password">
              </div>
            </div>

          <div class="text-center">
              <button type="button" class="btn btn-primary mt-4">S'inscrire</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
